# Hypothesis Testing

## One sample T-test
The test will tell us whether means of the sample and the population are different

In [57]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [58]:
ages=np.random.randint(15,40,50)

In [12]:
ages

array([20, 35, 29, 19, 37, 39, 16, 27, 23, 30, 36, 19, 24, 30, 27, 23, 27,
       24, 21, 17, 18, 26, 31, 27, 33, 23, 23, 24, 29, 18, 22, 39, 16, 26,
       17, 30, 35, 29, 16, 27, 28, 36, 31, 20, 29, 17, 18, 29, 33, 19])

In [15]:
age_mean=np.mean(ages)

In [16]:
age_mean

25.84

In [17]:
age_sample=np.random.choice(ages,15)

In [18]:
age_sample

array([29, 33, 27, 17, 19, 16, 37, 18, 23, 29, 35, 17, 24, 17, 30])

In [23]:
age_sample_mean=np.mean(age_sample)

In [24]:
age_sample_mean

24.733333333333334

In [19]:
from scipy.stats import ttest_1samp

In [27]:
ttest_1samp(age_sample,25.84)

Ttest_1sampResult(statistic=-0.5931814925538, pvalue=0.5625205654491294)

In [29]:
stats,p_value=ttest_1samp(age_sample,25.84)

In [30]:
p_value

0.5625205654491294

In [31]:
stats

-0.5931814925538

In [34]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis") 
    
    #H0 - there is no diferance b/w mean of sample and data,
    #H1-there is a difference b/w them

we are accepting null hypothesis

# Two-sample T-test
##The Independent Samples t Test or 2-sample t-test compares the means of two independent groups in order to determine whether there is statistical evidence that the associated population means are significantly different. The Independent Samples t Test is a parametric test. This test is also known as: Independent t Test

In [36]:
df=pd.read_csv(r'C:\Users\LC Ranga\Desktop\Data Science\datasets_233212_497258_insurance.csv')

In [37]:
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [38]:
age_mean=np.mean(df['age'])

In [39]:
age_mean

39.20702541106129

In [40]:
bmi_mean=np.mean(df['bmi'])

In [41]:
bmi_mean

30.665470852017993

In [42]:
from scipy.stats import ttest_ind

In [50]:
stat,p_value=ttest_ind(df['age'],df['bmi'],equal_var=False)

In [54]:
ttest_ind(df['age'],df['bmi'],equal_var=False)

Ttest_indResult(statistic=20.39899160420265, pvalue=1.7595647155107373e-83)

In [51]:
p_value

1.7595647155107373e-83

In [52]:
stat

20.39899160420265

In [56]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis") 
    
    #H0 - there is no diferance b/w mean of sample and data,
    #H1-there is a difference b/w mean of sample and data.

 we are rejecting null hypothesis

## Paired T-test

#When you want to check how different samples from the same group are, you can go for a paired T-test

In [59]:
import scipy.stats as sts

In [78]:
age1=sts.poisson.rvs(mu=30,size=60)

In [79]:
age1

array([32, 30, 30, 30, 32, 26, 19, 29, 30, 32, 46, 15, 25, 30, 33, 30, 34,
       31, 32, 38, 30, 31, 31, 35, 36, 31, 26, 28, 28, 35, 19, 44, 38, 34,
       31, 27, 39, 33, 32, 20, 18, 27, 29, 33, 30, 33, 26, 32, 29, 39, 33,
       35, 34, 40, 26, 35, 30, 24, 26, 32])

In [81]:
age1_mean=np.mean(age1)

In [83]:
age1_mean

30.716666666666665

In [85]:
age_var=sts.norm.rvs(loc=0, scale=1, size=60, random_state=None)

In [89]:
age_var

array([-0.02997774,  1.44464646,  0.29450276,  0.41152083,  0.3943863 ,
       -1.44885694, -1.93549265,  0.71266144,  0.95317245, -2.81661256,
        0.71449328,  0.83421985,  1.22907918,  0.8216993 ,  2.12240209,
       -0.47102056,  1.20872815, -1.76997845, -0.60387432, -0.79144074,
       -0.30320704, -1.08939956,  0.64683745, -0.0584404 , -1.14870799,
       -0.65332956, -0.33347202, -0.95339201, -1.58267237,  0.50355184,
        0.7419144 , -1.01194187, -1.65636049, -0.43276552, -0.05560166,
       -0.15417907,  0.37932229, -0.46612612,  1.98385265,  0.1007615 ,
        0.25459169, -1.26915142,  1.17732773, -1.00094377, -0.56779968,
       -0.98471002,  0.59742499,  0.80144728,  0.74140387, -1.41303705,
        0.76473417,  0.72481032, -0.16540636,  0.4744444 , -1.45832118,
       -0.87379578,  0.11982502,  0.41302776,  1.30134475,  0.27098756])

In [90]:
age2=age1+age_var

In [91]:
age2

array([31.97002226, 31.44464646, 30.29450276, 30.41152083, 32.3943863 ,
       24.55114306, 17.06450735, 29.71266144, 30.95317245, 29.18338744,
       46.71449328, 15.83421985, 26.22907918, 30.8216993 , 35.12240209,
       29.52897944, 35.20872815, 29.23002155, 31.39612568, 37.20855926,
       29.69679296, 29.91060044, 31.64683745, 34.9415596 , 34.85129201,
       30.34667044, 25.66652798, 27.04660799, 26.41732763, 35.50355184,
       19.7419144 , 42.98805813, 36.34363951, 33.56723448, 30.94439834,
       26.84582093, 39.37932229, 32.53387388, 33.98385265, 20.1007615 ,
       18.25459169, 25.73084858, 30.17732773, 31.99905623, 29.43220032,
       32.01528998, 26.59742499, 32.80144728, 29.74140387, 37.58696295,
       33.76473417, 35.72481032, 33.83459364, 40.4744444 , 24.54167882,
       34.12620422, 30.11982502, 24.41302776, 27.30134475, 32.27098756])

In [92]:
age2_mean=age2.mean()

In [93]:
age2_mean

30.64398511508237

In [94]:
stat,p_value=sts.ttest_rel(age1,age2)

In [95]:
stat,p_value

(0.5480877509679977, 0.585699485629307)

In [96]:
sts.ttest_rel(age1,age2)

Ttest_relResult(statistic=0.5480877509679977, pvalue=0.585699485629307)

In [97]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis") 
    
    #H0 - there is no diferance.
    #H1-there is a difference.

we are accepting null hypothesis